/* Calculator css */

*{
  /* to reset default browser css properties */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --smallFont: 600 12px arial, sans-serif;
  --mediumFont: 500 14px arial, sans-serif;
  --bigFont: 600 26px arial, sans-serif;
  --bodyBgColor: #e2e2e2;
  --calcBgColor: #dbdbdb;
  --btnBgColor: #d1d1d1;
  --lightColor: #e6e6e6;
  --greyColor: grey;
}

/* dark mode */
:root.dark{
  --bodyBgColor: #6d6d6d;
  --calcBgColor: #353535;
  --btnBgColor: #aaaaaa;
  --lightColor: #cacaca;
  --greyColor: dimgrey;
}

body{
  width: 100%;
  height: 100vh;
  background-color: var(--bodyBgColor);
}

/* theme toggle button */
#theme-toggler{
  font-size: 24px;
  padding: 2px;
  margin: 4px;
  float: right;
  cursor: pointer;
}

/* theme toggle icon (light) */
.bx-bulb{
  color: darkslategrey;
}

/* theme toggle icon (dark) */
.bxs-bulb{
  color: gold;
  text-shadow: 0px 0px 15px yellow, 0px 0px 35px yellow;
}

/* info icon */
#info i{
  color: coral;
}

/* calculator */
#calculator{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
  border-radius: 5px;
  padding: 30px 25px;
  box-shadow: 0px 0px 4px var(--greyColor);
  background-color: var(--calcBgColor);
}

/* display screen container */
#display-container{
  position: relative;
  width: 100%;
  height: 75px;
  border-radius: 5px;
}

/* display screen */
#display-screen{
  width: 100%;
  height: 100%;
  font: var(--bigFont);
  color: #1a1a1a;
  padding: 25px 5px 0px 5px;
  border-radius: inherit;
  border: none;
  text-align: right;
  background-color: rgb(72, 78, 49);
  box-shadow: inset 1px 1px 2px rgb(27, 27, 27), inset -1px -1px 2px rgb(27, 27, 27), 0px 0px 1px rgb(27, 27, 27);
  outline: none;
}

#last-ans{
  width: 100%;
  position: absolute;
  top: 5px; 
  right: 0px;
  text-align: right;
  padding: 1px 5px;
  color: #1a1a1a;
  font: var(--smallFont);
  background-color: transparent;
  border: none;
  outline: none;
}

/* buttons container */
#btns-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 8px;
}

/* buttons */
.btn{
  background-color: var(--btnBgColor);
  box-shadow: 0px 2px 3px var(--greyColor);
}

/* buttons and labels */
.btn, .lbl{
  padding: 5px 5px;
  font: var(--mediumFont);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover{
  background-color: var(--lightColor);
}

.btn:active, .lbl:active{
  box-shadow: 0px 0px 4px var(--greyColor);
}

/* labels */
.lbl{
  text-align: center;
  background-color: var(--calcBgColor);
}

.lbl:hover{
  background-color: coral !important;
}

/* checkbox */
#input-mode{
  display: none;
}

/* rad and deg labels */
#radian, #degree{
  grid-column: span 2;
}

/* equal to button */
#evaluate{
  grid-column: span 2;
}

/* footer section */
footer{
  position: absolute;
  width: 100%;
  bottom: 0px;
  font: 500 12px arial, sans-serif ;
  color: darkslategray;
  text-align: center;
  padding: 5px 0px;
}

/* footer link */
footer a{
  text-decoration: none;
  color: crimson;
}

footer a:hover{
  color: coral;
}